/*
 * otari
 *
 * Otari, an OpenAI-compatible LLM gateway with API key management
 *
 * The version of the OpenAPI document: 0.12.1
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`organization_guardrail_definitions_create_organization_guardrail_definition`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionError {
    Status422(models::HttpValidationError),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`organization_guardrail_definitions_delete_organization_guardrail_definition`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionError {
    Status422(models::HttpValidationError),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`organization_guardrail_definitions_list_organization_guardrail_definitions`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsError {
    Status422(models::HttpValidationError),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`organization_guardrail_definitions_test_organization_guardrail_definition`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionError {
    Status422(models::HttpValidationError),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`organization_guardrail_definitions_update_organization_guardrail_definition`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionError {
    Status422(models::HttpValidationError),
    UnknownValue(serde_json::Value),
}

/// Define a guardrail this deployment will build and call itself. Organization owners and admins only.  ``guardrail_name`` must be one the built-in guardrail catalog lists (``GET /api/v1/tool-settings/guardrails/catalog``), and ``create_kwargs`` must satisfy that guardrail's constructor as the catalog describes it: no argument it does not declare, nothing it types as a live object rather than configuration, and every required argument no environment variable can supply. Arguments the catalog marks secret are encrypted at rest.  A definition on its own changes no request. Mandate it through ``/api/v1/organizations/me/guardrails`` for it to run.  The definition is saved first and built second, so a guardrail this deployment cannot construct is still stored and answers ``build_state: \"failed\"`` rather than refusing the write. Why it failed is not reported: a vendor library may put the arguments it was handed, which are your credentials, into its own error message. The reason is in the gateway's log.
pub async fn organization_guardrail_definitions_create_organization_guardrail_definition(
    configuration: &configuration::Configuration,
    organization_guardrail_definition_create: models::OrganizationGuardrailDefinitionCreate,
) -> Result<
    models::OrganizationGuardrailDefinitionPublic,
    Error<OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_organization_guardrail_definition_create = organization_guardrail_definition_create;

    let uri_str = format!(
        "{}/api/v1/organizations/me/guardrail-definitions",
        configuration.base_path
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("x-api-key", value);
    };
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("Otari-Key", value);
    };
    req_builder = req_builder.json(&p_body_organization_guardrail_definition_create);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionPublic`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionPublic`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<
            OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionError,
        > = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Drop a definition and the credentials it holds.  Organization owners and admins only. Use ``enabled: false`` instead to stop the guardrail everywhere while keeping both.
pub async fn organization_guardrail_definitions_delete_organization_guardrail_definition(
    configuration: &configuration::Configuration,
    definition_id: &str,
) -> Result<
    models::Message,
    Error<OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_definition_id = definition_id;

    let uri_str = format!(
        "{}/api/v1/organizations/me/guardrail-definitions/{definition_id}",
        configuration.base_path,
        definition_id = crate::apis::urlencode(p_path_definition_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::DELETE, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("x-api-key", value);
    };
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("Otari-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::Message`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::Message`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<
            OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionError,
        > = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// List the guardrails the caller's organization has defined.  Organization owners and admins only. A stored vendor credential is never returned: each one comes back as ``***`` under its own name, which is what a form resubmits to keep it.  ``build_state`` answers for the worker that served this request, so a read taken moments after a write may still report ``pending`` on a sibling that has not caught up.
pub async fn organization_guardrail_definitions_list_organization_guardrail_definitions(
    configuration: &configuration::Configuration,
    skip: Option<i32>,
    limit: Option<i32>,
) -> Result<
    models::OrganizationGuardrailDefinitionsPublic,
    Error<OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_skip = skip;
    let p_query_limit = limit;

    let uri_str = format!(
        "{}/api/v1/organizations/me/guardrail-definitions",
        configuration.base_path
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_skip {
        req_builder = req_builder.query(&[("skip", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_limit {
        req_builder = req_builder.query(&[("limit", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("x-api-key", value);
    };
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("Otari-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionsPublic`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionsPublic`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<
            OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsError,
        > = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Run a definition's guardrail over some text and return its verdict.  Organization owners and admins only. The guardrail is the one the worker that answered already holds built, so this tests what is running rather than building it again. Nothing is stored and no mandate is involved; ``validate_kwargs`` stands in for what a mandate would pass with each check.  A definition this worker does not hold built answers 409, and its ``build_state`` says why. A vendor call that fails answers 502, and the reason is in the gateway's log only: a vendor library may put the credentials it was handed into its own message.
pub async fn organization_guardrail_definitions_test_organization_guardrail_definition(
    configuration: &configuration::Configuration,
    definition_id: &str,
    organization_guardrail_definition_test: models::OrganizationGuardrailDefinitionTest,
) -> Result<
    models::OrganizationGuardrailDefinitionTestResult,
    Error<OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_definition_id = definition_id;
    let p_body_organization_guardrail_definition_test = organization_guardrail_definition_test;

    let uri_str = format!(
        "{}/api/v1/organizations/me/guardrail-definitions/{definition_id}/test",
        configuration.base_path,
        definition_id = crate::apis::urlencode(p_path_definition_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("x-api-key", value);
    };
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("Otari-Key", value);
    };
    req_builder = req_builder.json(&p_body_organization_guardrail_definition_test);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionTestResult`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionTestResult`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<
            OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionError,
        > = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Change a definition's name, guardrail, build arguments, or enabled flag.  Organization owners and admins only. Omitted fields are left as they are. ``create_kwargs`` replaces the arguments whole when sent, an argument sent as ``***`` keeps the value stored under that name, and omitting the field entirely leaves the stored credentials untouched and unread.  The guardrail is rebuilt afterwards and the response reports the outcome in ``build_state``, so repairing a credential shows the definition running again in the same response, and ``enabled: false`` stops it here rather than on the next refresh.
pub async fn organization_guardrail_definitions_update_organization_guardrail_definition(
    configuration: &configuration::Configuration,
    definition_id: &str,
    organization_guardrail_definition_update: models::OrganizationGuardrailDefinitionUpdate,
) -> Result<
    models::OrganizationGuardrailDefinitionPublic,
    Error<OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_definition_id = definition_id;
    let p_body_organization_guardrail_definition_update = organization_guardrail_definition_update;

    let uri_str = format!(
        "{}/api/v1/organizations/me/guardrail-definitions/{definition_id}",
        configuration.base_path,
        definition_id = crate::apis::urlencode(p_path_definition_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::PATCH, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("x-api-key", value);
    };
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("Otari-Key", value);
    };
    req_builder = req_builder.json(&p_body_organization_guardrail_definition_update);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionPublic`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::OrganizationGuardrailDefinitionPublic`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<
            OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionError,
        > = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
